name: validation
on: 
  pull_request:
    branches:
      - main
jobs:
  lint:
    name: "lint code"
    runs-on: ubuntu-latest
    steps:
    - name: Check out code
      uses: actions/checkout@v3
    - name: Lint terraform
      uses: actionshub/terraform-lint@main
  plan:
    needs: lint
    name: "terraform plan"
    runs-on: ubuntu-latest
    steps:
    - uses: hashicorp/setup-terraform@v2

    - run: terraform init

    - id: plan
      run: terraform plan -var="resources_prefix=poko" -no-color

    - run: echo ${{ steps.plan.outputs.stdout }}